@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
//breakpoints
$breakpoints: (
  "phone":   481px,
  "phone-lg": 576px,
  "tablet-small": 601px,
  "tablet":       768px,
  "laptop":      992px,
  "desktop":      1140px,
  "desktop-md": 1360px,
  "wide": 1700px
);
