extends ../layout
include ../mixins/mixins

block header
    include ../components/header
block content
    .page-wrapper.page-wrapper--main
        section.main-banners
                .main-banners__inner
                    .main-banners__item.main-banners__item--houses
                        .main-banners__img
                            +picture('main-banner1', 'png', 'auto',
                            'auto')
                        a(href="#").main-banners__content
                            .main-banners__title Уборка частных домов и квартир
                            .main-banners__text Наводим чистоту в отдельных комнатах и во всем доме. Моем окна. Чистим мебель, ковры и текстиль. Убираем в подъезде и во дворе
                            .common-btn-wrapper.common-btn-wrapper--orange
                                .btn.common-btn.common-btn--orange.main-banners__btn.main-banners__btn--orange узнать подробнее
                    .main-banners__item.main-banners__item--commercial
                        .main-banners__img
                            +picture('main-banner2', 'png', 'auto',
                                'auto')
                        a(href="#").main-banners__content
                            .main-banners__title Клининг для&nbsp;бизнеса
                            .main-banners__text Уборка и обслуживание любых объектов: офисов, торговых центров, стадионов и аэропортов, фитнес-клубов, предприятий, отелей и др.
                            .common-btn-wrapper.common-btn-wrapper--green
                                .btn.common-btn.common-btn--green.main-banners__btn.main-banners__btn--green узнать подробнее
                .partners
                    .partners__title Нам доверяют чистоту
                    .partners__items
                        .partners__item
                            +icon('partner1')
                            .partners__hover-text Олимпийский стадион «Фишт», Сочи
                        .partners__item
                            +icon('partner2')
                            .partners__hover-text Аэропорт Платов, Ростов
                        .partners__item
                            +icon('partner3')
                            .partners__hover-text ТРЦ «Галерея ПАРК»
                        .partners__item
                            +picture('partner4', 'png', '120', 'auto')
                            .partners__hover-text Стадион «Ростов Арена»
                        .partners__item
                            +picture('partner5', 'png', '120', 'auto')
                            .partners__hover-text Производственная компания «Интек»
                        .partners__item
                            +picture('partner6', 'png', '120', 'auto')
                            .partners__hover-text Maxi Kids, Детский гимнастический центр
        section.cost-request.cost-request--main
            .container
                .cost-request__inner
                    .cost-request__title-wrapper.opened
                        .cost-request__title Быстрый расчет уборки по телефону за
                            span &nbsp;3&nbsp;минуты
                    form.cost-request__form
                        .cost-request__form-wrapper
                            .form-group.form-group--custom-select
                                select(name="cost-request-room-type").select__hidden#cost-request-room-type
                                    option Квартира или офис
                                    option Уборка квартиры или дома
                                    option Уборка коммерческой недвижимости
                                .custom-select__styled Где будем убирать?
                                .custom-select__options
                                    .custom-select__options-inner
                                        .custom-select__options-pointer
                                        .custom-select__option Квартира или офис
                                        .custom-select__option Уборка квартиры или дома
                                        .custom-select__option Уборка коммерческой недвижимости
                                .error-message Это поле обязательно для заполнения
                            .form-group.form-group--custom-select
                                select(name="cost-request-clean-type").select__hidden#cost-request-clean-type
                                    option Комплексная уборка
                                    option Генеральная уборка
                                    option Уборка после ремонта, пожара
                                    option Химчистка мебели, ковров, текстиля
                                    option Мойка окон, фасада, витрин
                                    option Дезинфекция и дезодорация
                                    option Уборка территории
                                    option Озеленение
                                .custom-select__styled Вид уборки или услуги?
                                .custom-select__options
                                    .custom-select__options-inner
                                        .custom-select__options-pointer
                                        .custom-select__option Комплексная уборка
                                        .custom-select__option Генеральная уборка
                                        .custom-select__option Уборка после ремонта, пожара
                                        .custom-select__option Химчистка мебели, ковров, текстиля
                                        .custom-select__option Мойка окон, фасада, витрин
                                        .custom-select__option Дезинфекция и дезодорация
                                        .custom-select__option Уборка территории
                                        .custom-select__option Озеленение
                                .error-message Это поле обязательно для заполнения
                            +form-group(false, 'form-group--custom form-group--phone', 'tel', 'custom-input js-input', 'cost-request-phone', 'cost-request-phone', '+7 (___) ___-__-__', true)
                            .common-btn-wrapper.common-btn-wrapper--blue
                                button(type="submit").btn.common-btn.common-btn--blue.cost-request__btn.js-request Заявка на расчет
                        .form-group.form-group__allow
                            input(type="checkbox" name="callback-allow" id="book-modal-allow" required checked)
                            label(for="book-modal-allow") Я даю согласие на обработку моих персональных данных
block footer
    include ../components/footer







