footer.footer
        .footer__top
            .container
                .footer__top-box
                    .footer__col.footer__col--1
                        .footer__logo-wrapper
                            .footer__logo-slogan Убираем быстро и чисто!
                            a(href="/").footer__logo ПИК ЧИСТОТЫ
                            .footer__logo-descriptor Клининговая компания в Ростове-на-Дону
                        .footer__social
                            a(href="#").footer__social-item.footer__instagram
                                +icon('footer-insta')
                    .footer__col.footer__col--2
                        .footer__phone-wrapper
                            +icon('phone')
                            a(href="tel:+79612882222") +7 961 288-22-22
                        .footer__phone-wrapper
                            +icon('phone')
                            a(href="tel:+78633011833") +7 863 301-18-33
                        .footer__email
                            a(href="mailto:pik-chistoty@yandex.ru") pik-chistoty@yandex.ru
                    .footer__col.footer__col--3
                        .footer__work-time Время работы<br>Пн–Сб: 8:00–19:00
                        .footer__address Адрес офиса<br>пр. Будённовский 60, офис 801, Ростов-на-Дону
                    .footer__col.footer__col--4
                        .footer__requisites ООО «ПИК ЧИСТОТЫ»<br>ИНН 6166112461<br>КПП 616601001
                        a(href="#").footer__download-requisites Скачать реквизиты
                        a(href="#").footer__join-team Присоединиться к команде
        .footer__bottom
            .container
                .footer__bottom-box
                    .footer__copywrite © 2021 ООО «Пик чистоты»
                    .footer__policies
                        a(href="#").footer__policie Пользовательское соглашение
                        span |
                        a(href="#").footer__policie Политика конфиденциальности
                    a(href="#").footer__creators Разработчик WEBELEMENT



