header.header.header--private
    .container
        .header__inner
            .header__logo-desc-wrapper
                a(href="/").header__logo-link
                    .header__logo-sm Работаем с 2012 года
                    .header__logo ПИК ЧИСТОТЫ
                .header__descriptor Клининговая компания в Ростове-на-Дону
            nav.header__nav
                a(href="private.html").header__nav-item.active Частные дома и квартиры
                a(href="commercial.html").header__nav-item Коммерческая недвижимость
            .header__contacts
                .header__phone-wrapper
                    +icon('phone')
                    a(href="tel:+79612882222") +7 961 288-22-22
                .header__work-time Пн–Сб: 8:00–19:00
